<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>UserList</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<form action="/findallusers" method="get">

<table border="1"align="center">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>DateNaissance</th>
    </tr>
    <tr th:each="u:${listUsers}">
        <td th:text="${u.getId()}"></td>
        <td th:text="${u.getName()}"></td>
        <td th:text="${u.getDateNaissance()}"></td>
        <td>
            <a th:href="@{/user/deleteUser(id=${u.getId()})}">删除</a>
        </td>
    </tr>
</table>
</form>

</body>
</html>