<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>WorkerUpdate</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
  <h3 class="display-5">Création workers</h3>

</head>
<body class="text-center">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<div  class="container h-100">

  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12" method="post" action="/createworker">
      <div class="row d-flex justify-content-center">
        <div class="form-floating mb-3 col-md-4 " >
          <input type="text" class="form-control" id="floatingInput"
                 placeholder="Nom" th:name="workername"  required>
          <label for="floatingInput">Nom Worker</label>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="form-floating mb-3 col-md-4">
          <input type="date" class="form-control" id="dateNaissance"
                 placeholder="dateNaissance" th:name="dateNaissance"  required>
          <label for="dateNaissance">Date Naissance</label>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="form-floating mb-3 col-md-4" >
        <select class="form-select" aria-label="Default select example" th:name="jobname"  required>
          <option selected>Choisissez un job</option>
          <option th:each="j:${listJobs}" th:text="${j.getName()}"></option>
        </select>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="form-floating mb-3 col-md-4">
          <input type="number" class="form-control" id="rate"
                 placeholder="dateNaissance" th:name="rate"  required>
          <label for="rate">Rate</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" th:name="action"  >Enregistrer
      </button>

    </form>
  </div>
</div>



</body>
</html>